<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
            </div>
        </div>
        <div class="row">
            {{#each group}}
            <div class="col-sm-6 col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">Количество тестов   - {{count}} </p>
                        <a href="/test/admintest/{{_id}}" class="btn btn-success">Тесты</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>